<html>
<head>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{info['description']}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{info['description']}}">
    <meta property="og:title" content="{{info['app_name']}} ({{info['name']}})">
    <meta property="og:url" content="{{info['url']}}">
    <meta property="og:image" content="{{info['url']}}/static/ogp_small.jpg">
    <meta property="og:site_name" content="{{info['app_name']}} ({{info['name']}})">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{info['description']}}">
    <meta name="twitter:title" content="{{info['app_name']}} {{info['name']}}">
    <meta name="twitter:url" content="{{info['url']}}">
    <meta name="twitter:image" content="{{info['url']}}/static/ogp_small.jpg">
    <meta name="twitter:domain" content="{{info['url']}}">
    <meta name="twitter:creator" content="@_mktia">
    <meta name="twitter:site" content="@_mktia">
    <title>{{info['app_name']}} ({{info['name']}}) | {{info['short_description']}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="main">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60167522-23', 'auto');
      ga('send', 'pageview');

    </script>
    <div class="contents">
        <header>
            <div class="header-bar">
                <a href="{{info['url']}}"><h1>{{info['app_name']}}</h1></a>
            </div>
        </header>
        <section class="about">
            <h2>このアプリについて</h2>
            <p>{{info['app_name']}} ({{info['name']}}) はフォローアカウントの整理及び TL の見やすさを改善することを主な目的として個人的に開発した Web アプリケーションです。</p>
            <p>現在よく使われているアプリケーションでは、片思いアカウントとしてフォロバされているアカウントが表示されるなどの不具合が見られることがきっかけとなりました。</p>
            <p>おかげさまで正確なフォロー・フォロワー情報を取得することができるようになりましたが、一度に数千のフォロー・フォロワーアカウントを、となるとサーバの処理時間の限界に達してしまい、残念ながらそのメリットを最大限活かしきれていません。</p>
            <p>時間と気力が許す限りぼちぼち直していきたいところですが、まあ先のことはわかりません。お許しください。</p>
            <p>2017/03/23</p>
            <br>
            <h2>開発</h2>
            <p>MKTIA - <a href="https://www.mktia.com">Web サイト</a></p>
            <p>何かあったら Twitter のアカウント (<a href="http://twitter.com/_mktia">@_mktia</a>) にでもお気軽にどうぞ。</p>
        </section>
        <footer>
            <p><a href="{{info['url']}}/about">About</a> | <a href="{{info['url']}}/version">Version</a></p>
            <p>&copy;
                <script>
                    var date = new Date();
                    var year = date.getFullYear();
                    document.write(year);
                </script>
                <a href="http://twitter.com/_mktia">mktia</a>.
            </p>
        </footer>
    </div>
</body>
</html>