<html>
<head>
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
	<![endif]-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{info['description']}}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{{info['description']}}">
	<meta property="og:title" content="{{info['app_name']}} ({{info['name']}})">
	<meta property="og:url" content="{{info['url']}}">
	<meta property="og:image" content="{{info['url']}}/static/ogp_small.jpg">
	<meta property="og:site_name" content="{{info['app_name']}} ({{info['name']}})">
	<meta property="og:locale" content="ja_JP">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="{{info['description']}}">
	<meta name="twitter:title" content="{{info['app_name']}} {{info['name']}}">
	<meta name="twitter:url" content="{{info['url']}}">
	<meta name="twitter:image" content="{{info['url']}}/static/ogp_small.jpg">
	<meta name="twitter:domain" content="{{info['url']}}">
	<meta name="twitter:creator" content="@_mktia">
	<meta name="twitter:site" content="@_mktia">
	<title>{{info['app_name']}} ({{info['name']}}) | {{info['short_description']}}</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css" type="text/css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!-- googleanalytics -->
</head>
<body class="main">
	<div class="contents">
		<header>
			<div class="header-bar">
				<a href="{{info['url']}}"><h1>{{info['app_name']}}</h1></a>
			</div>
		</header>
		<section class="version">
			<h2>更新情報</h2>
			<p>2017/03/17</p>
			<p class="desc">プロトタイプ公開</p>
			<p>2017/03/24</p>
			<p class="desc">デザイン刷新</p>
		</section>
		<footer>
			<p><a href="{{info['url']}}/about">About</a> | <a href="{{info['url']}}/version">Version</a></p>
			<p>&copy;2017 <a href="http://twitter.com/_mktia">mktia</a> All rights reserved.</p>
		</footer>
	</div>
</body>
</html>